@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Almost-White: #fafafa;
    --Medium-Gray: #696969;
    --Almost-Black: #141414;
  }

* {
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

img {
  max-width: 100%;
}

/* Buttons */
.outlined-btn,
.transparent-btn {
  padding: 1rem 2rem;
  border-radius: 15px;
  color: var(--Medium-Gray);
  cursor: pointer;
  background-color: transparent;
}

.transparent-btn {
  border: none;
}

.transparent-btn:hover {
  color: var(--Almost-Black);
  font-weight: 700;
}

.outlined-btn {
  border: 1px solid var(--Almost-Black);
}

.outlined-btn:hover {
  color: var(--Almost-Black);
  font-weight: 700;
}

.primary-btn {
  background-color: var(--Almost-Black);
  width: fit-content;
  padding: 1rem 2rem;
  color: var(--Almost-White);
  border-radius: 10px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: var(--Almost-White);
  border: 1px solid var(--Almost-Black);
  color: var(--Almost-Black);
  font-weight: 700;
}

/* navbar styles */
.navbar.bg-light {
    background-color: white !important;
}

.dropdown-menu {
    font-weight: 700;
}

.navbar-toggler {
    border: none !important;
}

.dropdown-item {
    color: var(--Medium-Gray) !important;
}

.dropdown-menu.show {
    border: none !important;
}


/* Main styles */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  padding: 20px;
}

.main-container {
  display: grid;
  max-width: 1100px;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
}

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-heading {
  font-size: 4rem;
    font-weight: 700;
}

.main-content {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
  color: var(--Medium-Gray);
}

.logoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* mobile site */
@media screen and (max-width: 800px) {
    .offcanvas-end {
        width: 300px !important;
    }
    
    #navbar-items a,
    .nav-item a {
        color: var(--Medium-Gray) !important;
    }

    #nav-item-right #register {
        border: 1px solid var(--Medium-Gray) !important;
        border-radius: 10px;
        padding: 10px;
    }

    .dropdown-menu {
        display: none; 
    }
    
    .dropdown-menu.show {
        display: block; 
    }

    main {
      align-items: flex-start;
    }
    .main-container {
      display: flex;
      flex-direction: column-reverse;
    }
    .main-left {
      align-items: center;
      text-align: center;
      gap: 2rem;
    }
    .main-heading {
      font-size: 2.2rem;
    }
    .main-heading br {
      display: none;
    }
    
    .logoes {
      width: 100%;
      padding-inline: 1rem;
      flex-wrap: wrap;
    }
  
}